body{
    background: #116fff;
    }

h2{
    color: white;
    text-align: right;
    float: right;
}

h4{
    color: white;
}

h5{
    color: white
}
li{
    color: white;
    
}

p{
    color: white;
    text-align: right;
}

label{
    color: white
}

th{
    color: white
}
